<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{atoli/layouts/app.html}"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
<meta charset="UTF-8">
<title>Đặt phòng thành công</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="text-center" style=" align-items: center; background: FEFBF6">
			
			<h1 style="padding-top: 80px;">Đặt phòng thành công</h1>
			<img alt="" src="https://png.pngtree.com/png-vector/20190228/ourmid/pngtree-check-mark-icon-design-template-vector-isolated-png-image_711429.jpg">
			<br/><a class="default-btn btn-bg-three">Xem thông tin đặt phòng</a>
		</div>
	</div>

</body>
</html>